---
import BaseLayout from '../layouts/BaseLayout.astro';
import Comparator from '../components/Comparator/Comparator.astro';
import Dioxus from '../components/dioxus.astro';
import BoxFeatures from '@components/BoxFeatures.astro';
import Question from '@components/Question.astro';
import fond1 from '@static/fond1.jpg';

const boxFeaturesSvgClass = "self-center p-2 border-2 border-solid rounded-xl border-cyan-300 bg-cyan-500 bg-opacity-40"
---

<BaseLayout betweenMainAndFooterClass="grow" mainClass="flex w-[95%] xl:w-[50%] place-content-center text-center items-center self-center flex-col"> 

	<img src={fond1} class="fixed opacity-50 top-0 left-0 w-screen h-screen object-cover z-[-1]"/>
	
	<div class="w-screen h-screen flex flex-col bg-transparent">
		<div class="flex flex-col items-center pt-56">
			<h1 class="text-black font-semibold text-7xl md:text-9xl leading-0 m-0 p-12">Build <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#4FD9BC] to-[#52C8E8]">Safety</span></h1>

			<a class="flex text-2xl my-12 w-fit h-fit bg-gradient-to-tl from-[#4FD9BC] to-[#52C8E8] rounded-full drop-shadow-[0_0_10px_rgba(0,255,255,0.7)] no-underline" href=`${import.meta.env.BASE_URL}demo`>
				<div class="underline-none group inline-flex items-center grow m-[1px] px-6 py-6 bg-black rounded-full text-white font-bold hover:bg-transparent duration-300 whitespace-nowrap ease-in-out">
					Essayez Loaker
					<span class="group relative ml-2 translate-y-[-2px]">
						<div class="absolute top-1/2 left-0 w-[0px] -translate-y-[2.5px] overflow-hidden transition-all duration-300 ease-in-out group-hover:w-[15px]">
							<svg width="20" height="6" viewBox="0 0 10 3" fill="none">
								<path d="M10 1.5H0" stroke="white" stroke-width="1.5"></path>
							</svg>
						</div>
						<svg width="14" height="20" viewBox="0 0 6 9" fill="none" class="transition-transform duration-300 ease-in-out group-hover:translate-x-[6px]">
							<path d="M1.5 1.5L4.5 4.5L1.5 8" stroke="white" stroke-width="1.5"></path>
						</svg>
					</span>
				</div>
			</a>
			
	
			<div class="flex text-black m-6 text-lg xl:text-4xl lg:max-w-[50vw] font-bold place-content-center">
				Secure data against cyberattacks,<br />thanks to Loaker
			</div>
		</div>
	</div>	

	<div class="flex w-screen flex-col xl:flex-row bg-neutral-100 items-center place-content-center py-24">
		<div class="flex flex-col basis-1/2 xl:basis-1/4">
			<ul class="list-outside list-[square] marker:text-3xl marker:text-[#4FD9BC] text-xl text-left m-4">
				<li class="mb-8"><span class="text-2xl font-semibold">Ransomware-resistant</span> by design, as data is stored outside the corporate LAN</li>
				<li class="mb-8"><span class="text-2xl font-semibold">Cross-platform</span> software where data can be retrieved from any device</li>
				<li class="mb-8"><span class="text-2xl font-semibold">Transparency</span> since data encryption is publicly verifiable</li>
				<li class="mb-8"><span class="text-2xl font-semibold">Massive replication</span> of encrypted data to prevent any data loss</li>
			</ul>
		</div>
		<div class="flex w-[90vw] basis-1/2 xl:basis-1/4">
			<Dioxus/>
		</div>
	</div>


	<div class="w-full flex flex-col gap-6">
		<h1 class="text-black font-bold text-5xl md:text-7xl leading-0 m-0 p-12">Tout ce dont vous avez besoin en un gestionnaire de mots de passes <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#4FD9BC] to-[#52C8E8]">Features</span></h1>
		<div class="flex flex-row gap-6 w-full">
			<BoxFeatures title="Interface intuitive" text="Loaker doesn't keep any data on customers (no KYC) and customers are the true owners of their stored data.">
				<svg class={boxFeaturesSvgClass} fill="#000000" height="80px" width="80px" viewBox="0 -64 640 640"><path d="M622.3 271.1l-115.2-45c-4.1-1.6-12.6-3.7-22.2 0l-115.2 45c-10.7 4.2-17.7 14-17.7 24.9 0 111.6 68.7 188.8 132.9 213.9 9.6 3.7 18 1.6 22.2 0C558.4 489.9 640 420.5 640 296c0-10.9-7-20.7-17.7-24.9zM496 462.4V273.3l95.5 37.3c-5.6 87.1-60.9 135.4-95.5 151.8zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm96 40c0-2.5.8-4.8 1.1-7.2-2.5-.1-4.9-.8-7.5-.8h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c6.8 0 13.3-1.5 19.2-4-54-42.9-99.2-116.7-99.2-212z"/></svg>
			</BoxFeatures>
			<BoxFeatures title="Stockage hautement répliqué" text="Loaker uses distributed storage and computing to ensure that your data is always available.">
				<svg class={boxFeaturesSvgClass} width="80px" height="80px" viewBox="0 0 32 32">
					<defs>
						<clipPath id="A">
							<path d="M0 0h32v32H0z"/>
						</clipPath>
					</defs>
					<g clip-path="url(#A)"><path d="M27.551 2.781c-1.24-.005-2.365.727-2.863 1.863s-.274 2.459.57 3.368l-5.192 4.675c-1.841-1.529-4.507-1.543-6.364-.033L9.531 8.477c.256-.416.393-.894.395-1.383a2.69 2.69 0 0 0-4.589-1.902 2.69 2.69 0 0 0 1.902 4.589 2.66 2.66 0 0 0 1.622-.559l4.12 4.127a5.08 5.08 0 0 0-1.242 3.307c0 .115.026.222.034.335l-5.565.721a2.55 2.55 0 0 0-4.797 1.643 2.55 2.55 0 0 0 5.038-.574c0-.031-.008-.059-.009-.09l5.494-.712c.199.741.564 1.428 1.066 2.008l-3.733 4c-.424-.252-.907-.387-1.4-.39-1.138 0-2.164.685-2.6 1.736s-.195 2.261.61 3.066 2.015 1.045 3.066.61 1.736-1.462 1.736-2.6c-.003-.648-.232-1.275-.647-1.772l3.7-3.956c1.578 1.273 3.771 1.461 5.543.476l2.972 2.934a3 3 0 0 0 4.094 4.357 3 3 0 0 0-3.305-4.982l-2.915-2.878c1.06-.854 1.728-2.101 1.854-3.457s-.303-2.704-1.188-3.738l5.281-4.754c.455.257.967.395 1.49.4 1.726 0 3.125-1.399 3.125-3.125s-1.399-3.125-3.125-3.125zM3.886 20.344c-.632 0-1.202-.381-1.444-.965s-.108-1.256.339-1.703 1.119-.581 1.703-.339.965.812.965 1.444c-.001.863-.7 1.562-1.563 1.563zm22.478 5.687a1.94 1.94 0 0 1-3.308 1.372 1.94 1.94 0 0 1 1.37-3.309 1.94 1.94 0 0 1 1.938 1.937zM7.239 8.781a1.69 1.69 0 0 1-1.195-2.882 1.69 1.69 0 0 1 2.882 1.195 1.69 1.69 0 0 1-1.687 1.687zm.625 19.438c-.733 0-1.395-.441-1.676-1.119s-.126-1.457.392-1.976 1.298-.674 1.976-.393 1.119.942 1.119 1.675c-.001 1-.812 1.811-1.812 1.813zm5.875-11.563c0-1.726 1.399-3.125 3.125-3.125s3.125 1.399 3.125 3.125-1.399 3.125-3.125 3.125a3.13 3.13 0 0 1-3.125-3.125zm13.812-8.625c-1.174 0-2.125-.951-2.125-2.125s.951-2.125 2.125-2.125 2.125.951 2.125 2.125a2.13 2.13 0 0 1-2.125 2.125z" fill="#000"/></g>
				</svg>
			</BoxFeatures>				

			<BoxFeatures title="Security" text="Loaker uses asymetric encryption to ensure your data is safe and secure.">
				<svg class={boxFeaturesSvgClass} height="80px" width="80px" viewBox="0 0 32 32" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><path d="M3,26l2.6-4.2c1.5-2.3,4-3.8,6.8-3.8H19v0c0,2.2-1.8,4-4,4h-2"/><path d="M15 22h8l1.2-1.6c1.1-1.5 2.9-2.4 4.8-2.4h0l-2.7 4.8c-1.4 2.6-4.2 4.2-7.1 4.2h0A23.82 23.82 0 0 0 6 31h0m11-9c5.7-2.6 10-6.9 10-17.7-1 .3-2 .5-3.1.5-2.6 0-5.1-1.1-6.9-2.8-1.9 1.8-4.3 2.8-6.9 2.8C9 4.8 8 4.6 7 4.3c0 6.7 1.7 10.9 4.3 13.8"/></svg>
			</BoxFeatures>
		</div>
	</div>   

	<div class="w-full md:flex hidden flex-col gap-6 place-content-center items-center pt-24">
		<h1 class="text-black font-bold text-5xl xl:text-7xl leading-0 m-0 p-12">Competitive <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#4FD9BC] to-[#52C8E8]">Advantages</span></h1>
		<Comparator/>
	</div>


	<div class="flex flex-col w-full items-center pt-24 gap-3">
		<h1 class="text-black font-bold text-5xl md:text-7xl leading-0 m-0 p-12">FAQ</h1>
		<Question question="Our company uses another password manager. Is it difficult to migrate to Loaker ?" answer="The Loaker team will help you to migrate your data from your old password manager to Loaker. You will be able to import your data in only one transaction to lower fees."/>
		<Question question="How does Loaker work ?" answer="Loaker is a blockchain based password manager that uses cryptography to safely store your data on Tezos Chain."/>
		<Question question="Does Loaker requires a KYC ?" answer="No ! You just have to connect your wallet to Loaker and you are ready to go !"/>
		<Question question="Who is this solution for ?" answer="Loaker is for everyone who wants to keep their data safe and secure. Loaker is also for companies that want to keep their employees data safe and secure."/>
		<Question question="How much does Loaker cost ?" answer="Loaker is free for everyone. You just have to pay the transaction fees to store your data on the blockchain."/>
		<Question question="What is the difference between Loaker and other password managers ?" answer="Loaker is a blockchain based password manager that uses cryptography to safely store your data on Tezos Chain."/>
	</div>

	<div class="flex flex-col text-md items-center w-full py-24">
		<h1 class="text-black font-bold text-5xl md:text-7xl leading-0 m-0 p-12">Connect <span class="bg-clip-text text-transparent bg-gradient-to-r from-[#4FD9BC] to-[#52C8E8]">with us</span></h1>
        <div class="flex flex-row w-full justify-between">
            <svg width="100" class="fill-black hover:fill-indigo-500 hover:scale-110 duration-300 cursor-pointer" viewBox="0 0 160 119"><path d="M135.535 9.96646C125.042 5.24938 113.941 1.89769 102.526 0C101.104 2.46985 99.443 5.7918 98.2974 8.43459C85.9899 6.65652 73.7956 6.65652 61.7143 8.43459C60.5693 5.7924 58.8706 2.46985 57.4356 0C46.0093 1.89857 34.8991 5.25879 24.4012 9.99108C3.51121 40.3216 -2.15192 69.8979 0.679331 99.0557C14.535 108.997 27.9624 115.036 41.1637 118.988C44.4445 114.653 47.3447 110.064 49.8343 105.267C45.0945 103.533 40.5251 101.397 36.1806 98.8827C37.3239 98.0685 38.4403 97.22 39.5281 96.3384C65.8543 108.169 94.4593 108.169 120.472 96.3384C121.564 97.2142 122.68 98.0626 123.819 98.8827C119.467 101.403 114.889 103.544 110.14 105.28C112.644 110.096 115.539 114.69 118.811 119C132.024 115.049 145.464 109.01 159.32 99.0557C162.642 65.2549 153.645 35.95 135.535 9.96646ZM53.4212 81.1242C45.5181 81.1242 39.0368 74.0353 39.0368 65.4032C39.0368 56.771 45.3799 49.6702 53.4212 49.6702C61.4631 49.6702 67.9437 56.7584 67.8056 65.4032C67.8181 74.0353 61.4631 81.1242 53.4212 81.1242ZM106.578 81.1242C98.6749 81.1242 92.1943 74.0353 92.1943 65.4032C92.1943 56.771 98.5368 49.6702 106.578 49.6702C114.62 49.6702 121.101 56.7584 120.962 65.4032C120.962 74.0353 114.62 81.1242 106.578 81.1242Z"></path></svg>
            <svg width="100" class="fill-black hover:fill-sky-500 hover:scale-110 duration-300 cursor-pointer" viewBox="0 0 160 120"><path d="M160 14.2053C154.009 16.6548 147.654 18.2627 141.146 18.9754C147.924 15.2262 153.129 9.28929 155.579 2.21547C149.136 5.74422 142.086 8.23045 134.735 9.56673C128.747 3.67938 120.216 0 110.774 0C92.6456 0 77.9475 13.5639 77.9475 30.2933C77.9475 32.668 78.2381 34.9798 78.7975 37.1975C51.5163 35.9338 27.3288 23.8736 11.1381 5.54531C8.31312 10.0195 6.69438 15.2239 6.69438 20.775C6.69438 31.2854 12.49 40.5574 21.2975 45.9902C16.0847 45.8396 10.9866 44.5402 6.42875 42.2007C6.42688 42.3276 6.42688 42.4545 6.42688 42.5819C6.42688 57.2596 17.7419 69.5039 32.7581 72.2869C27.9243 73.5001 22.8539 73.6777 17.9344 72.806C22.1113 84.8414 34.2344 93.5995 48.5981 93.8446C37.3638 101.969 23.2094 106.813 7.83063 106.813C5.18062 106.813 2.56813 106.669 0 106.389C14.5269 114.985 31.7813 120 50.3188 120C110.698 120 143.715 73.8385 143.715 33.8066C143.715 32.4926 143.684 31.1862 143.62 29.8872C150.046 25.5998 155.593 20.2894 160 14.2053Z"></path></svg>
            <svg width="100" class="fill-black hover:fill-[#0A66C2] hover:scale-110 duration-300 cursor-pointer" viewBox="0 0 16 16"><path d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z"/></svg>    
        </div>
	</div>

</BaseLayout>