<details class="lg:hidden group self-center flex m-4">   
  <summary class="cursor-pointer list-none">
      <span class="sr-only">Menu de navigation</span>
      <div class="flex flex-col gap-y-[9.5px]">
          <span class="relative w-[40px] h-[6px] rounded-full bg-black group-open:-rotate-45 ease-in-out duration-300 group-open:mb-0 group-open:top-4"></span> 
          <span class="relative w-[40px] h-[6px] rounded-full bg-black group-open:invisible"></span> 
          <span class="relative w-[40px] h-[6px] rounded-full bg-black group-open:bottom-4 group-open:rotate-45 duration-300 ease-in-out"></span>
      </div>
  </summary>
  
  <div class="absolute flex flex-col bg-neutral-300 w-fit p-4 right-2 rounded-lg top-20 z-40 place-content-center">
      <a href=`${import.meta.env.BASE_URL}` class="flex rounded-full bg-[#4FDAB8] place-content-center self-center px-2 py-1 w-fit no-underline text-xl text-white font-bold m-2">Home</a>
      <a href=`${import.meta.env.BASE_URL}extension` class="flex rounded-full bg-[#4FDAB8] place-content-center self-center px-2 py-1 w-fit no-underline text-xl text-white font-bold m-2">Extension</a>
      <a href=`${import.meta.env.BASE_URL}team` class="flex rounded-full bg-[#4FDAB8] place-content-center self-center px-2 py-1 w-fit no-underline text-xl text-white font-bold m-2">Team</a>
      <a href=`${import.meta.env.BASE_URL}roadmap` class="flex rounded-full bg-[#4FDAB8] place-content-center self-center px-2 py-1 w-fit no-underline text-xl text-white font-bold m-2">Roadmap</a>
      <a href=`${import.meta.env.BASE_URL}contact` class="flex rounded-full bg-[#4FDAB8] place-content-center self-center px-2 py-1 w-fit no-underline text-xl text-white font-bold m-2">Contact</a>
  </div>
  </details>