---
import ThemeIcon from "./ThemeIcon.astro";
import Hamburger from "./Hamburger.astro";
import logo from "@static/logo.png";
const  { headerclass }  = Astro.props;
---

<nav id="nav" class="col-start-1 max-h-24 col-end-6 flex md:col-start-1 md:col-end-13 lg:col-start-1 lg:col-end-13 place-content-center backdrop-blur-md bg-opacity-5 bg-white flex-row w-full border-b border-solid border-zinc-600 border-t-0 border-r-0 border-l-0 top-0 sticky z-[100] duration-500 transition-transform ease-in-out">
    <div class="flex self-center max-w-[1312px] justify-between w-full">
        <a class="group h-18 lg:h-16 my-2 no-underline flex flex-row place-content-center items-center place-self-center hover:scale-110 duration-300" href={`${import.meta.env.BASE_URL}`}>
            <svg class="flex" height="200px" viewBox="0 0 360 428">
                <path fill="#000" stroke="#000" stroke-width="3" d="M42 187h12v39h19v10H42v-49zm118.09 38.91l-3.05 9.92L144 236l10.67-36 4.46-12.96L177 187l15 49h-13.22l-2.82-10.09h-15.87zM211 187h-12v49h12l-.05-16.95 5.05-2.04L226.05 236H240l-15.05-26.97L240 187l-13.94.05L212.89 208l-1.86-.03L211 187zm64.02 10H259v9h14v9h-14v11h16l.02 9.93-9.02.07h-20v-49h29l.02 10zm25.95 21.06L296 218v18h-12v-49c7.83 0 22.25-.9 28.96 2.68 8.39 4.5 8.82 18.39-1.96 24.32l14 22c-3.73 0-13.78-.09-13.78-.09l-10.25-17.85zM169 195h-2l-5 21h11l-4-21zm127 13.58s11.11.95 11.07-6.02c-.23-7.32-11.07-6.14-11.07-6.14v12.16z"/>
                <g transform="matrix(.185561 0 0 .185949 70.581912 166.20184)">
                    <path fill="#462100" d="M152 350l28-110h52l28 110z"/>
                    <circle cx="206" cy="200" r="50" fill="#5a9e44"/>
                    <path fill="#287011" stroke="#000" d="M206.55 472C16.5 368 20.5 268.5 16.06 81.06 82.73 74 129.45 55.27 206.85 15.37c80.24 41.54 102.24 54.45 189.03 65.72C391 313 376 375 206.55 472zm159.53-364.98C320 102.36 216.91 57.64 206.41 49.11 184.91 63.31 73.82 106.4 46 106.13 49.5 292.5 66.5 357 206.59 438.06 349.5 346 359.5 306 366.08 107.02z" stroke-width="5.384"/>
                </g>
            </svg>
        </a>
        
        
        <a href={`${import.meta.env.BASE_URL}pricing`} class="hidden xl:inline-block cursor-pointer text-sm m-2 py-2 whitespace-nowrap text-black uppercase h-fit w-fit self-center font-extrabold relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-[3px] after:bottom-0 after:left-0 after:bg-teal-400 after:origin-bottom-right after:ease-out after:duration-300 after:transition-transform hover:after:scale-x-100 hover:after:origin-bottom-left">
            Solutions
        </a>

        <a href={`${import.meta.env.BASE_URL}pricing`} class="hidden xl:inline-block cursor-pointer text-sm m-2 py-2 whitespace-nowrap text-black uppercase h-fit w-fit self-center font-extrabold relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-[3px] after:bottom-0 after:left-0 after:bg-teal-400 after:origin-bottom-right after:ease-out after:duration-300 after:transition-transform hover:after:scale-x-100 hover:after:origin-bottom-left">
            Tarifs
        </a>

        <a href={`${import.meta.env.BASE_URL}pricing`} class="hidden xl:inline-block cursor-pointer text-sm m-2 py-2 whitespace-nowrap text-black uppercase h-fit w-fit self-center font-extrabold relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-[3px] after:bottom-0 after:left-0 after:bg-teal-400 after:origin-bottom-right after:ease-out after:duration-300 after:transition-transform hover:after:scale-x-100 hover:after:origin-bottom-left">
            Contacts
        </a>

        <a href={`${import.meta.env.BASE_URL}downloadExtension`} class="hidden xl:flex items-center cursor-pointer text-sm m-2 py-2 whitespace-nowrap text-black uppercase h-fit w-fit self-center font-extrabold relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-[3px] after:bottom-0 after:left-0 after:bg-teal-400 after:origin-bottom-right after:ease-out after:duration-300 after:transition-transform hover:after:scale-x-100 hover:after:origin-bottom-left">
            <svg class="fill-black mr-2" width="20px" height="20px" viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" color="#000000"> <path d="M9 4C9 2.89543 9.89543 2 11 2C12.1046 2 13 2.89543 13 4V6H18V11H20C21.1046 11 22 11.8954 22 13C22 14.1046 21.1046 15 20 15H18V20H13V18C13 16.8954 12.1046 16 11 16C9.89543 16 9 16.8954 9 18V20H4V15H6C7.10457 15 8 14.1046 8 13C8 11.8954 7.10457 11 6 11H4V6H9V4Z"/> </svg>
            Ajouter l'extension
        </a>

        <a href={`${import.meta.env.BASE_URL}next`} class="hidden xl:inline-block cursor-pointer text-sm m-2 py-2 whitespace-nowrap text-black uppercase h-fit w-fit self-center font-extrabold relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-[3px] after:bottom-0 after:left-0 after:bg-teal-400 after:origin-bottom-right after:ease-out after:duration-300 after:transition-transform hover:after:scale-x-100 hover:after:origin-bottom-left">
            Pour la suite...
        </a>

        <a href={`${import.meta.env.BASE_URL}connexion`} class="hidden xl:inline-block cursor-pointer text-sm m-2 py-2 whitespace-nowrap text-black uppercase h-fit w-fit self-center font-extrabold relative after:content-[''] after:absolute after:w-full after:scale-x-0 after:h-[3px] after:bottom-0 after:left-0 after:bg-teal-400 after:origin-bottom-right after:ease-out after:duration-300 after:transition-transform hover:after:scale-x-100 hover:after:origin-bottom-left">
            Connexion
        </a>

        
        <a href={`${import.meta.env.BASE_URL}pricing`} class="hidden xl:flex rounded-full h-fit self-center group items-center rounded-5 uppercase text-white hover:text-black bg-black hover:bg-gradient-to-tl from-[#4FD9BC] to-[#52C8E8] duration-300 ease-in-out px-4 py-3" target="_blank" rel="noreferrer">
            Testez
            <svg class="stroke-white group-hover:stroke-black transition-transform duration-300 ease-in-out group-hover:translate-x-[6px]" width="12" height="18" viewBox="0 0 6 9" fill="none" >
                <path d="M1.5 1.5L4.5 4.5L1.5 8" stroke-width="1.5"></path>
            </svg>
        </a>

        <Hamburger classHamburgerButton="m-4 3xl:hidden flex rounded-lg border-solid border-2 bg-transparent p-2 mx-2 h-auto cursor-pointer hover:bg-sky-400 self-center items-center"/>

    </div>
</nav>

<script>
let lastScrollTop =window.scrollY || document.documentElement.scrollTop;

window.addEventListener(
  'scroll',
  function handleScroll() {
    const scrollTopPosition =
      window.scrollY || document.documentElement.scrollTop;

    if (scrollTopPosition > lastScrollTop) {
        console.log('scrolling down');
        const nav = this.document.getElementById("nav") as HTMLElement;
        nav.style.transform = "translateY(-100%)";
    } else if (scrollTopPosition < lastScrollTop) {
        const nav = this.document.getElementById("nav") as HTMLElement;
        nav.style.transform = "translateY(0%)";
    }
    lastScrollTop =
      scrollTopPosition <= 0 ? 0 : scrollTopPosition;
  },
  false,
);
</script>